{% extends "layout.twig" %}

{% block content %}
<header id="header">
    <h1>TodoList App</h1>
    <form action="/start-planning" method="post">
        <input id="new-todo" name="title" placeholder="Start planning your life!" autofocus>
    </form>
</header>
{% endblock %}
