<!DOCTYPE html>
<html>
    <head>
        {% block head %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
        <title>{% block title %}Event Sourcing with Broadway{% endblock %}</title>
        {% endblock %}
    </head>
    <body>
        <div>
            {% block content %}
            {% endblock %}
        </div>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    </body>
</html>
