{% extends "layout.twig" %}

{% block content %}
    <div class="container">
        <h1>{{ list.getId }}</h1>
        <ul>
            {% for task in list.tasks %}
            <li>{{ task.description }}</li>
            {% endfor %}
        </ul>
        <form action="/list/add-task" method="POST" class="form-inline">
            <input type="hidden" name="id" value="{{ list.getId }}" />
            <div class="form-group">
                <input type="text" name="task" class="form-control" placeholder="Task description" />
            </div>
            <button type="submit" class="btn btn-primary">Add task</button>
        </form>
    </div>
{% endblock %}
