{% extends "admin/layout.twig" %}

{% block content %}
<div class="row">
    <div class="col-sm-9">
        <h1>The world so far...</h1>
    </div>
    <div class="col-sm-3">
        <h2>Sidebar</h2>
    </div>
</div>
{% endblock %}
